.tab {
	background-color: $el-fill;
	border: 1px solid $el-border-dark;
	z-index: 2;

	&[data-active] {
		background: radial-gradient(
				circle at center,
				$accent-light 0%,
				hsla(0, 0%, 0%, 0.4) 100%
			),
			repeating-linear-gradient(
				to right,
				$accent-light,
				$accent-light 1px,
				$accent-dark 1px,
				$accent-dark 2px
			);
		background-blend-mode: overlay;
		border-color: transparent;
		box-shadow: 0px 0px 10px -8px $accent-light,
			0px 0px 20px -8px $accent-light,
			0px 0px 30px -8px $accent-light,
			0px 0px 40px -8px $accent-light;
		z-index: 3;

		& svg,
		p {
			color: $el-fill;
		}
	}
	&:hover:not([data-active], [data-disabled]) {
		& svg,
		p {
			color: $accent-light;
		}
	}

	&[data-disabled] {
		opacity: 0.4;
		background: $el-fill;
		background-blend-mode: normal;
		border: 1px solid $el-border-dark;
		box-shadow: none;
		p {
			color: $text;
		}
	}

	&[data-variant='category'] {
		&:first-of-type {
			border-radius: 8px 0 0 8px;
		}

		&:not(:first-of-type) {
			border-left: none;
		}

		&:last-of-type {
			border-radius: 0 8px 8px 0;
		}
	}

	&[data-variant='subcategory'] {
		&:first-of-type {
			border-radius: 8px 0 0 0;
		}

		&:nth-of-type(2) {
			border-radius: 0 8px 0 0;
		}

		&:nth-of-type(5) {
			border-radius: 0 0 0 8px;
		}

		&:last-of-type {
			border-radius: 0 0 8px 0;
		}

		&:nth-of-type(2n) {
			border-left: none;
		}

		&:nth-last-of-type(-n + 4) {
			border-top: none;
		}
	}
}
